/*
|--------------------------------------------------
| Designer's Image Admin Layout -- Footer
|--------------------------------------------------
*/

footer.admin-footer {
    align-self: flex-end;
    background-color: var(--color-light-opaque);
    display: flex;
    height: 100%;
}