/*
|--------------------------------------------------
| Designer's Image Admin Layout -- Grid
|--------------------------------------------------
*/

.admin-main {
    grid-area: main;
}
.admin-footer {
    grid-area: footer;
}

.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;

    main.admin-main {
        align-content: stretch;
        box-sizing: border-box;
        display: grid;
        flex: 0 calc(100% - 3.5rem);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5rem;
        grid-template-areas:
            "main"
            "footer";
        height: calc(100% - 5rem);
        margin-right: -8px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            right: -5px;
            width: 5px;
        }
            
        &::-webkit-scrollbar-track {
            background-color: var(--color-background);
            border-radius: 10px;
        }
            
        &::-webkit-scrollbar-thumb {
            background-color: var(--color-primary);
            border-radius: 10px;
        }
    }
}

@media screen and (min-width: 360px) {
    .wrapper {
        main.admin-main {
            flex: 0 calc(100% - 4.2rem);
            height: calc(100vh - 6.3rem);
        }
    }
}

@media screen and (min-width: 600px) {
    .wrapper {
        main.admin-main {
            gap: 0;
            grid-template-rows: auto 7rem;
            height: calc(100% - 7rem);
        }
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        main.admin-main {
            flex: 0 calc(100% - 5.2rem);
        }
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        justify-content: flex-start;
        
        main.admin-main {
            flex: 1;
        }
    }
}

@media screen and (min-width: 1120px) {
    .wrapper {
        main.admin-main {
            grid-template-rows: auto 5rem;
            height: calc(100% - 5rem);
        }
    }
}